/*
Colours

background :rgba(223, 224, 228,1);
Text rgba(27,33,64)
*/

*{
    margin: 0;
    padding: 0; 
}
html{
    scroll-behavior: smooth;
}

body{
    background: rgba(223, 224, 228,1);
    font-family: 'Montserrat', sans-serif;

}
a{
    text-decoration: none;
    color:rgba(27,33,64) ;
}



.header{
    background:rgba(27,33,64);           
   
}
.navbar-brand{
    width: 180px;
}
.navbarButtons{
    color: white;
}
.navbar .linkedin{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}
.navbar .linkedin img{
 height: 25px;
 width: 25px;
 opacity: 0.8;
}
.custom-toggler.navbar-toggler {
    border-color: transparent
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(137, 149, 217)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}  

 
.landing{    
    background-image: url('./images/landing-background.svg');
    background-size: cover; 
    background-position: top;
    padding-top: 20px;   
    margin-bottom: 20px;

    
}
.landing .about{
    align-items: center;
}
.landing .about .about-description{
    color: rgba(27,33,64);
    padding-left: 2.5rem;    
}
.landing .about .about-img{
    display: flex;
    justify-content: center;
}
.landing .about-img img{
    width: 80%;
    height: auto;
    border-radius: 20px;
}


.what-i-do{
    background: rgb(137, 149, 217);
    color: rgba(27,33,64);  
}
.curve svg {
    display: block;
    z-index: 1;
    position: relative;
}

.what-i-do .logos{
    background:rgba(27,33,64);           
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -8rem;
    z-index: 2;
    position: relative;
    
}
.what-i-do .logos .logo{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.what-i-do .logos .logo p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.what-i-do .logos img{
    height: 90px;

}
.heading{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: rgba(27,33,64);
}
.what-i-do .grid{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    justify-content: center;
}
.grid .card{
    background: none;
    border: none;
    text-align: center;
    align-items: center;

}
.what-i-do .grid .card .image{
height: 150px;
}
.what-i-do .grid .card img{
    padding: 5px 10px 10px 10px;
    width: 90%;
}
.what-i-do .grid .card .text{
    padding: 10px;    
    color:rgba(27,33,64);
}



.portfolio .grid{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
    justify-content: center;
}
.portfolio .grid .card{
    transition: all .2s ease;

}
.portfolio .grid .card img{
        width: 90%;
        border-radius: 20px;
        border: none;
        box-shadow: 2px 2px 6px 0 rgba(27,33,64);
}
.portfolio .grid .card img:hover{
    box-shadow: 2px 2px 16px 0 rgba(27,33,64);

}
.portfolio .grid .card:hover{
    cursor: pointer;
    transform: scale(1.02);
    color:rgb(36, 44, 83) ;

}

.portfolio .grid .card .text{
        padding: 10px;    
}

.portfolio .button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.portfolio .button a{    
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background:rgba(27,33,64);
    color: white;
    transition: all .2s ease;
}
.portfolio .button a:hover{
    transform: scale(1.02);
    background:rgb(52, 64, 122);
    color: rgb(196, 196, 196);
}    


.contact{
    background: rgb(137, 149, 217);
    margin-top: 20px;
}
.contact .heading{
    margin-top: 0;
    padding-top: 20px;
}
.contact .contact-details{
    display:flex;
    flex-wrap: wrap;   
    justify-content: space-between;
    color: rgba(27,33,64);
    padding: 20px 25px;
}
.contact .contact-details .input-box{
    width: calc(100% / 2 - 20px);
}
.contact .contact-details .input-box label,
.contact .add-input-box label{
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 20px;
}
.contact .contact-details .input-box input,
.contact .add-input-box textarea{
    width: 100%;
    height: 40px;
    outline: none;
    border-radius: 20px;
    border: 1px solid #ccc ;
    padding-left: 15px;
    transition: all 0.5s ease;
}
.contact .contact-details .input-box input:valid,
.contact .add-input-box textarea:focus{
    border-color:rgba(27,33,64) ;
}
.contact .add-input-box .text-area{
    height: 80px;
    resize: none;
}
.contact .add-input-box .text-area::-webkit-scrollbar {
      width: 0 !important 
}
.contact .add-input-box{
    padding: 0 25px 20px 25px;

}
.contact .button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.contact .button input{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background:rgba(27,33,64);
    color: white;
    transition: all .2s ease;
}
.contact .button input:hover{
    transform: scale(1.02);
    background:rgb(52, 64, 122);
    color: rgb(196, 196, 196);
}


.footer-logos{
    background:rgba(27,33,64) ;
    border-radius: 20px;
    padding: 5px 50px 20px 50px;
    /* margin-top: -7.3rem; */
    margin-top: 3rem;
    z-index: 2;
    position: relative;    
}
.footer-logos .heading{
    color: white;
    margin: 10px 0 20px 0;
}
.footer-logo{
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.footer-logo a{
    margin: 0 10px;   
    transition: all 0.2s ease; 
}
.footer-logo a:hover{
    transform: scale(1.05);
}
.footer-logo img{
    width: 70%;
    height: auto;
}
.footer-mainlogo{
    
    margin: 50px 0;
}
.footer-mainlogo a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: auto;
}

.footer-mainlogo img{
    width: 25%;
    height: auto;
}
.copyright{    
    height: 20px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright img{
    height: 100%;
    width: auto;
    opacity:5%;
}



.reveal-left{
    animation: 1s ease-out 0s 1 slideInLeft;
}
.reveal-right{
    animation: 1s ease-out 0s 1 slideInRight;
}
.reveal-top{
    animation: 0.5s ease-out 0s 1 slideInTop;
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}


@media (max-width:991px){
    .navbar .linkedin{      
        margin-left: 0;
        margin-top: 5px;
    }
    .what-i-do .logos{
        margin-top: -5rem;
    }
    .what-i-do .logos img{
        height: 80px;
    }
    .what-i-do .grid{
        grid-template-columns: repeat(2,1fr);
    }
    .footer-logos{        
        margin-top: -5rem;          
    }
}

@media (max-width: 767px) {
    .navbar .linkedin{      
        margin-left: 0;
        margin-top: 5px;
    }
    .landing .about .about-description{
        text-align: center;
    }
    .what-i-do .logos{
        margin-top: -3rem;
        font-size: 0.75rem;
    }
    .what-i-do .logos img{
        height: 60px;
    }
    .what-i-do .grid{
        grid-template-columns: repeat(1,1fr);
    }      
    .portfolio .grid{
        grid-template-columns: repeat(1,1fr); 
    }
    .contact .contact-details .input-box{
        width: 100%
    }
    .footer-logos{        
        margin-top: -3rem;          
    }
}



@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

@keyframes slideInRight {
    0% {
      transform: translateX(100%);
    }
    100% {
    transform: translateX(0);
    }
}
@keyframes slideInTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
    transform: translateY(0);
    }
}


