/*
Colours

background :rgba(223, 224, 228,1);
Text rgba(27,33,64)
*/

*{
    margin: 0;
    padding: 0; 
}

body{
    background: rgba(223, 224, 228,1);
    font-family: 'Montserrat', sans-serif;

}



.header{
    background:rgba(27,33,64);           
   
}

.navbar-brand{
    width: 180px;
}

.navbarButtons{
    color: white;
}

.landing{    
    background-image: url('./images/landing-background.svg');
    background-size: cover; 
    background-position: top;
    padding-top: 20px;   
    margin-bottom: 20px;

    
}

.landing .about{
    align-items: center;
}
.landing .about .about-description{
    color: rgba(27,33,64);
    padding-left: 2.5rem;
}

.landing .about .about-img{
    display: flex;
    justify-content: center;
}
.landing .about-img img{
    width: 90%;
    border-radius: 20px;
}

.curve svg {
display: block;
}

@media (max-width: 767px) {
    .landing .about .about-description{
        text-align: center;
    }
}






